{% extends 'base.html' %}
{% block content %}

<head>
  <title>Ensala de VERDURAS</title>
  <meta charset="UTF-8">
</head>

<body>
<body style="background-color:silver;">
<font color="fuchsia">
<H1 align="center"> ensalada de VERDURAS </H1>
<center>
  {% load static %}

<img src="{% static "Pictures\hqdefault.jpg"" %}" alt="ohhhhh" width="700" height="500"></center>
<HR align="CENTER" size="2" width="400" color="black" noshade>
<p>Receta de Carlos  de ensalada de verduras , una de las ensaladas más populares elaborada con lechuga, tomate, rabanos y pepino.</p>

<h3>Ingredientes para 4 personas</h3>

<ul>
  <li>4 Tomates Rosa curiositos</li>
  <li>1 Pepino de la huerta</li>
  <li>Manojo Rabanos</li>
  <li>Lechuga la que tengas en la nevera</li>
</ul>

<h3>Preparación muy fàcil</h3>

<ol>
  <li>Cortar los tomates en rodajas finas</li>
  <li>Cortar el pepino a dados</li>
  <li>Los Rabanos picaditos</li>
  <li>Lechuga cortada con las manos</li>
</ol>

<b><i>Consejo</i></b>
<p><i>Para aliñar las ensaladas os recomiendo echar primero la sal, después el vinagre y por último el aceite. De esta manera la sal y el vinagre penetrarán en los alimentos, dándoles sabor, antes de que el aceite los cubra.</i></p>

</font>
<HR align="CENTER" size="2" width="400" color="black" noshade>

<font size="1"><i>Contáctanos Publicidad: 944010751 <a href="mailto:glopez@fundaciocim.org"><i>publicidad@bainet.es</i></a>
</i><br>
© Bainet Comunicación S.A. Todos los derechos reservados
Aviso legal - Política de Privacidad - Política de Cookies -<br>
Ver opciones de privacidad 
Datos auditados por Comscore y OJD interactiva </i></font><br>
{% endblock content %}
