{% extends 'base.html' %}
{% block content %}

<head>
<title>Receta</title>
</head>
<body>

<p align="center"><b><ins><font size="05" color=red>Receta de gazpacho andaluz tradicional </font></ins></b></p>

{% load static %}

<p align="center"><img src="{% static "840_560.jpg" %}"></p>

<p>
El <a href="https://www.youtube.com/watch?v=2XlvI-aNcsU">gazpacho</a> andaluz es una de las recetas de verano m&aacutes ricas y nutritivas de la cocina espa&ntilde;ola, y especialmente en la &eacutepoca del verano, cuando el calor aprieta, es una receta refrescante y que nos aporta una gran cantidad de vitaminas, minerales y antioxidantes.</p>
<p>
Debido a la cantidad de hortalizas y verduras que lleva, el gazpacho es un buen aliado para que los ni&ntilde;os ingieran estos alimentos, por ejemplo tom&aacutendolo en vaso como un zumo. Pod&eacuteis comenzar con poco vinagre al principio, para que se vayan acostumbrando a este sabor, que les puede resultar m&aacutes fuerte..</p>
<p>
Al igual que el salmorejo, el gazpacho es una receta t&iacutepica andaluza, aunque es popular en toda Espa&ntilde;a, y es ya un cl&aacutesico de nuestra gastronom&iacutea, habiendo innumerables variantes, c&oacutemo el ya popular de fresa y el gazpacho de sand&iacutea.<br>
Aqu&iacute os dejo el <a href="https://es.wikipedia.org/wiki/Gazpacho">enlace</a>  con informaci&oacuten de su historia, variantes, etc...</p>

<b><font color="green">Ingredientes del gazpacho:</b></font></li>
		<ul>
		<li>1 kilo de tomates maduros<br>
		<li>1 pimiento verde</font><br>
		<li>1 pepino<br>
		<li>1 cebolleta o media cebolla<br>
        <li>1 diente de ajo<br>
        <li>1 rebanada de pan (unos 50 g)<br>
        <li>1 cucharadita de sal<br>
        <li>2 cucharadas de vinagre<br>
        <li>3 cucharadas de aceite de oliva virgen extra<br>
		</ul>
<p>
Lavamos muy bien los tomates y el pimiento ya que los vamos a triturar con piel. Ponemos en el vaso de la batidora o si ten&eacuteis un robot de cocina o vaso americano, el pimiento troceado, el tomate troceado, el pepino pelado y troceado y la cebolleta pelada y en cuartos. A&ntilde;adimos la sal y el vinagre, trituramos todo durante varios minutos hasta obtener una crema muy fina.
</p>
<p align="center"><b><ins><font size="05" color=red>Beneficios del gazpacho para la salud</font></ins></b></p>
<p>
Si todav&iacutea no os convence el famoso gazpacho andaluz, os explicamos sus saludables beneficios, porque es una bomba de vitaminas y minerales:
		<ol>
			<li><font color=green><b>Previene los resfriados:</font></b><i>Gracias principalmente al tomate y pimiento, contiene grandes cantidades de vitaminas A, C y E, que nos ayudan a combatir los resfriados veraniegos de &uacuteltima hora.</i>
			<li><font color=green><b>Frena el envejecimiento:</font></b><i> Las propiedades antioxidantes del gazpacho se encuentran en el licopeno del tomate y la Vitamina C, que reducen la acci&oacuten de los radicales libres. Si quer&eacuteis luchar contra las arrugas y manchas en la piel ocasionadas por el envejecimiento, ¡a tomar gazpacho!</i>
			<li><font color=green><b>Aumenta las defensas:</font></b><i>Aumenta las defensas: El ajo act&uacutea como un antibi&oacutetico natural que ayuda a incrementar las defensas del organismo contra bacterias y virus.</i>
			<li><font color=green><b>Ayuda a adelgazar:</font></b><i> Si est&aacuteis a dieta, un vaso de gazpacho andaluz es un buen aliado ante un ataque de hambre, ya que os saciar&aacute. El gazpacho es un plato nutritivo, bajo en calor&iacuteas, y es rico en fibra lo que mejora el tr&aacutensito intestinal favoreciendo la eliminaci&oacuten de toxinas.</i>
			<li><font color=green><b>Hidrata nuestro organismo:</font></b><i> El gazpacho andaluz es una bebida llena de sales minerales y agua, lo que nos ayudar&aacute a combatir la deshidrataci&&oacuten, as&iacute que aprovecha los meses de verano para sustituir las bebidas isot&oacutenicas por un buen vaso de gazpacho.</i>
			<li><font color=green><b>Activa y prolonga el bronceado:</font></b><i> Contiene gran cantidad de carotenos que activan la melanina de la piel y la protege de la acci&oacuten del sol.</i>

</body>
{% endblock content %}