{% extends 'base.html' %}
{% block content %}

<head>
<title>Fresas</title>
<style>
	body{background-color: powderblue;}
</style>
</head>

<body>


<h1>Receta "Menu para Niños"</h1>


<ins><h1>Plato Principal</h1></ins>
{% load static %}
	<img src="{% static "Linguini.jpg"" %}">

<h2>Linguine con frutos di mare de frankfour con Salsa de Pepperon,<br>
 Agua de Mar con Algas de Dshidratadas</h2>


<h2>Ingredientes</h2>
<ul>
<Li>250 gr Linguine</Li>
 <Li>500 Tomate Pepperoni</Li>
 <Li>2 dientes de ajo</Li>
 <Li>1 cebolla</Li>
 <Li>20 gr de albahaca</Li>
 <Li>20 gr alga wakame</Li>
 <Li>Sal y pimienta</Li>
 <Li>Aceite de Oliva Extra Virgen</Li></ul>

<h3>Preparacion</h3>

<h4>Hacer el Sofrito de Tomate y hervir la Pasta</h4> 

<p> </ol>En una Sarten poner aceite de oliva el ajo picado, la cebolla cortada de brunoisse dorar y agregar el tomate concasse cocinar a fuego medio 10 minutos agregar Triturar el tomate, luego agregar las algas oregano sal y pimienta al gusto.

	cortar el frenkfour y clavar la pasta de a 5 a 6 unicades por cada rodaja
	Hervir la pasta en abundante agua los mnutos aconsejassdos por el fabricante

	El Frankfour cortar en forma de pulpo cangrejos para decoracion y hervir junto a la pasta
uminio, 500 gr Fresas, 30 gr piñones, Menta,<br>
50 cm Bebida Espirituosa, Azucar o miel, Canela en polvo, <br>
nata batida o queso fresco.</P>




<h2>Bosque Tropical de Frutas Exoticas</h2>
<img src="Foto Palmera.jpg">
	<img src="{% static "Foto Palmera.jpg"" %}">

<h3>Ingredientes</h3>

<ul>
<Li>1 platano</Li>
<Li>1 kiwi</Li>
<Li>1 naraja o mandarina</Li>
</ul>


<h3> Proceso</h3>

<p><font face="Arial"> cortar con cascara el platano las 2 puntas y a la largo por la mitad  pelar las mitades y recervar, la naranja o mandarina sacar los gajos, el kiwi pelarlo y cortar en gajos.
Emplatar segunla foto</font></p>

<br>

<br>
<br>
<br>




</body>
{% endblock content %}