{% extends 'base.html' %}
{% block content %}

<head>
<title>Page Title</title>
<style>
body{background-color: powderblue;}
h1{color: blue;}
p {color:black;}
<meta charset="UTF-8">
</style>
</head>
<body>

<h1>Base Para Pizza</h1>
<p>
Soy un matado que no sabe hacer pizzas, pero si te apetece destrozar la cocina y malgastar una buena harina éste es tu sitio.<br><br>
<h2>Ingredientes</h2>
Porción para dos personas, una si pesas mas de 80kg (como yo :D).
<ul>
  <li>280g de harina de fuerza.</li>
  <li>120g de harina normal.</li>
  <li>280g de agua (fria para retrasar la fermentación y darle mas tiempo a la maduración).</li>
  <li>2,5g de levadura fresca.</li>
  <li>10g de sal.</li>
  <li>10g de aceite de olvia virgen extra puro que eso huela a mediterraneo j$%r.</li>
  <li>1 TONELADAde amorrr.</li>
</ul>

<h2>Preparación</h2>
<ul>
	<li>Mezclar las harinas en un bol (a poder ser rosa) hasta que te canses.</li>
    <li>Disolver la levadura en otro bol (este más rosa y mas grande) con el agua fría hasta que quede homogéneo.</li>
    <li>Vas mezclando 2/3 la harina con el agua poco a poco, hasta que quede una pasta uniforme.</li>
    <li>Ahora (y no antes) añadimos la sal, el aceite y la harina restante.</li>
    <li>Amasamos el tiempo suficiente (unos 10min) doblando la massa sobre si misma(ponte aceite en las manos para que no se pegue tanto, sin miedo).</li>
    <li>La dejamos reposar 15 min con un trapo y la doblamos dos veces con mucha suavidad, así unas tres veces.</li>
    <li>Despúes de los amasados la dejamos reposar dos horas bajo un trapo húmedo a temperatura ambiente.</li>
    <li>Guardamos la masa en la nevera 24 horas en un taper o el bol con papel film.</li>
</ul>
NOTA: extender con las manos, no con rodillo (o te cargas las burbujas de co2 generadas por la fermentación). Cuando vayas a hornear la pizza el horno que esté a máxima temperatura, la bandeja con una fina capa de aceite, prehornea la massa con la salsa de tomate (tomate crudo al natural no cocido frito ni na) condimentada al gusto, sacas la pizza y le añades la mozzarella de bufala (aunque a mi me gusta la de vaca) previamente escurrida para no humedecer la masa + lo que gustes y terminas de hornearla. Dejas reposar dos min fuera y quedate pensando porque llevo desde ayer preparando la comida para esto. 
    
    
    


<a href="https://fotografias.antena3.com/clipping/cmsimages02/2017/06/04/1B8D29A8-EA00-4416-9617-BD913D4D4BB0/58.jpg"><marquee><img alt="Google" height="92" id="hplogo" src="https://image.freepik.com/vector-gratis/cartoon-pizza-chef-presentando-comida_61878-692.jpg" >
    </marquee></a> <br>





</p>

</body>
{% endblock content %}